* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container{
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

.box{
    border: 1px solid blue;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.errou{
    display: block;
    color: red;
}

.acertou{
    display: block;
    color: green;
    font-weight: bold;
}